<div class="button-row">
  <a [routerLink]="['/book-create']" color="accent" mat-raised-button>
    <mat-icon>add</mat-icon>
  </a>
</div>

<div class="example-container mat-elevation-z8">
  <table #table [dataSource]="dataSource" mat-table>
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Title Column -->
    <ng-container matColumnDef="isbn">
      <th *matHeaderCellDef mat-header-cell> ISBN</th>
      <td *matCellDef="let element" class="isbn-col" mat-cell> {{element.isbn}} </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th *matHeaderCellDef mat-header-cell> Title</th>
      <td *matCellDef="let element" mat-cell> {{element.title}} </td>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <th *matHeaderCellDef mat-header-cell> Author</th>
      <td *matCellDef="let element" mat-cell> {{element.author}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/book-details/', row._id]" mat-row></tr>
  </table>
</div>
